<% @recipes.each do |recipe| %>
  <h4><%= recipe.name %></h4>
  <ul>
    <% recipe.ingredients.each do |address| %>
      <li> <%= ingredients.name %> <%= ingredients.quantity %>
    <% end %>
  </ul>
<% end %>
