<% @recipes.each do |recipe| %>
  <h4><%= recipe.title %></h4>
  <ul>
    <% recipe.ingredients.each do |ingredient| %>
      <li> <%= ingredient.name %>, <%= ingredient.quantity %>, <%= ingredient.recipe_id %>
    <% end %>
  </ul>
<% end %>
